/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }