.btn{
    background:#3498db;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    text-align: center;
    margin-top:100px;
    margin-bottom:20px;
    margin-left:470px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:rgb(31, 99, 126); 
  }
  .btn1{
    background:#3498db;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:470px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn1:hover{
    background:rgb(31, 99, 126); 
  }