body{
    background:#3498db;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  * {
    box-sizing: border-box;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
    color:black;
    text-align: center;
  }
  .container {
    margin-top: 90px;
    margin-left: 550px;
    width: 500px;
  padding: 16px;
  background-color: white;
}
  input{
    height: 50px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  text-align: center;
  height: 52px;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
